@import "compass/reset"

$bg_color: black
$active_color: white
$inactive_color: darken($active_color, 95%)

$cell_width: 35px
$cell_height: 36px
$cell_font_size: 26px

$width: $cell_width*11
$height: $cell_height*10



body
  background-color: black

centerizer
  position: relative
  height: $height
  width: $width
  position: absolute
  left: 50%
  top: 50%
  margin-left: - $height/2
  margin-top: -$width/2
  display: table

.clock
  display: table-cell
  vertical-align: middle
  text-align: center

  td
    color: $inactive_color
    font-family: sans-serif
    font-size: $cell_font_size

    width: $cell_width
    height: $cell_height
    vertical-align: middle
    text-align: center

    text-shadow: 0 0 2px $inactive_color

    &.active
      color: $active_color
      text-shadow: 0 0 5px $active_color

.dots
  margin-top: 20px

  .one, .two, .three, .four
    display: inline
    float: left
    width: $width/4
    color: $inactive_color

    &.active
      color: $active_color
